x-yolo-base: &yolo-base
  build:
    context: .
  image: prepare_yolo:latest
  runtime: nvidia
  network_mode: host
  volumes:
    - /home/jetson/volume:/app/volume
  working_dir: /app
  environment:
    - NVIDIA_VISIBLE_DEVICES=all
    - NVIDIA_DRIVER_CAPABILITIES=all
    - GST_PLUGIN_FEATURE_RANK=nvv4l2h264enc:NONE,nvv4l2h265enc:NONE
    - PYTHONPATH=/app:${PYTHONPATH:-} 

services:
  convert_model:
    <<: *yolo-base
    container_name: convert_model
    entrypoint: ["/bin/bash", "convert_model.sh"]

  make_yolo_parser:
    <<: *yolo-base
    container_name: make_yolo_parser
    entrypoint: ["/bin/bash", "make_yolo_parser.sh"]
  
  blurrerina:
    <<: *yolo-base
    container_name: blurrerina