x-yolo-base: &yolo-base
  build:
    context: .
  image: prepare_yolo:latest
  runtime: nvidia
  network_mode: host
  volumes:
    - /home/jetson/volume:/app/volume
  working_dir: /app
  environment:
    - NVIDIA_VISIBLE_DEVICES=all
    - NVIDIA_DRIVER_CAPABILITIES=all

services:
  convert_model:
    <<: *yolo-base
    container_name: convert_model
    entrypoint: ["/bin/bash", "convert_model.sh"]

  make_yolo_parser:
    <<: *yolo-base
    container_name: make_yolo_parser
    entrypoint: ["/bin/bash", "make_yolo_parser.sh"]
  
  blurrerina:
    <<: *yolo-base
    container_name: blurrerina

  dev:
    <<: *yolo-base
    container_name: blurrerina_dev
    volumes:
      - .:/workspace
      - /home/jetson/volume:/app/volume
    working_dir: /workspace
    entrypoint: ["/bin/bash", "-c", "sleep infinity"]