services:
  blurrerina:
    build: .
    image: blurrerina:latest
    container_name: blurrerina
    volumes:
      - ./volume:/app/volume
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /tmp/argus_socket:/tmp/argus_socket
    runtime: nvidia
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY:-:0}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - QT_QPA_PLATFORM=offscreen

  yoloutils:
    image: ultralytics/ultralytics:latest-jetson-jetpack6
    container_name: yoloutils
    runtime: nvidia
    network_mode: host
    volumes:
      - ./volume:/workspace/volume
    working_dir: /workspace
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    entrypoint: ["/bin/bash"]