version: '3.8'

services:
  blurrerina:
    build: .
    image: blurrerina:latest
    container_name: blurrerina
    volumes:
      - ./volume:/app/volume
    runtime: nvidia
    network_mode: host
    environment:
      - DISPLAY=$DISPLAY
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, video]
    command: python3 main.py
